<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="mylog" fileName="app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.acn.jive.mastadonweatherbot.Connector" level="trace">
            <AppenderRef ref="mylog"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="mylog"/>
        </Root>
    </Loggers>
</Configuration>
